html {
    font-size: 100%;

    --text-xxxxl: 3.052rem;
    --text-xxxl: 2.441rem;
    --text-xxl: 1.953rem;
    --text-xl: 1.563rem;
    --text-l: 1.25rem;
    --text-m: 1rem;
    --text-s: 0.8rem;
}

:root {
    --text-color-primary: #1a1a1a;
    --text-color-secondary: #4d4d4d;
    --text-color-inverse: white;
    --background-color: #f2f2f2;
    --view-color: white;
    --shadow-color: lightgray;

    --color-accent: #2d4f6c;
    --color-ok: #307351;
    --color-error: #70161E;

    --border-radius-xl: 20px;
    --border-radius-l: 7px;
    --border-radius-m: 5px;
}

* {
    font-family: Montserrat, sans-serif;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;

    background: var(--background-color);
    color: var(--text-color-primary);

    font-weight: 400;
    line-height: 1.75;
}

p {
    margin-bottom: 1rem;
}

h1, h2, h3, h4, h5 {
    margin: 3rem 0 1.38rem;
    font-weight: 400;
    line-height: 1.3;
}

h1 {
    margin-top: 0;
    font-size: var(--text-xxxxl);
}

h2 {
    font-size: var(--text-xxxl);
}

h3 {
    font-size: var(--text-xxl);
}

h4 {
    font-size: var(--text-xl);
}

h5 {
    font-size: var(--text-l);
}

small, .text_small {
    font-size: var(--text-s);
}

.page-container {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;

    padding: 5px;
}

.page-view {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    max-width: 560px;
    background: var(--view-color);
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 0 10px var(--shadow-color);

    margin-bottom: 10px;
}

.page-view h3 {
    margin: 0 0 20px;
}

.page-container .big-logo {
    margin-bottom: 30px;
}

.header {
    display: grid;
    grid-template: "a b s c" auto / 40px 40px 1fr;
    align-items: center;
    border-radius: var(--border-radius-xl);
    box-shadow: 0 0 10px var(--shadow-color);
    padding: 5px 10px;
    width: 100%;
    background-color: var(--view-color);
    margin-bottom: 30px;
}

.header .imaged-link {
    width: 40px;
    height: 40px;
}

.user-popup {
    position: relative;
}

.header .user-popup {
    grid-area: c;
}

.user-popup h5 {
    margin-top: 0;
    margin-bottom: 0;
}

.user-popup p {
    margin: 0;
}

.user-popup .popup {
    display: none;
    position: absolute;
    border-radius: var(--border-radius-l);
    background-color: var(--view-color);
    padding: 10px;
    box-shadow: 0 0 5px var(--shadow-color);
}

.user-popup:hover .popup {
    display: block;
    right: 0;
    width: max-content;
}

.popup .big-button {
    margin-top: 10px;
}

.user-info {
    display: grid;
    grid-template: "a b"
                   "c c";
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

.user-info .user-info-cell p {
    line-height: 0.5;
}

.form {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
}

.form .form-input {
    width: 100%;
}

.form .form-input + .form-input {
    margin-top: 10px;
}

.form .big-button {
    margin-top: 20px;
    width: 100%;
}

.form-error {
    color: var(--color-error);
}

.form-input label {
    display: inline;
    font-size: 0.9em;
}

.form-input input {
    display: inline;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    font-size: 100%;
    padding: 5px;
}

.form-input textarea {
    display: block;
    max-width: 100%;
    width: 100%;
    height: 90px;
}

.form-input.required label::after {
    content: ' *';
}

.big-logo {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.big-logo img, .big-logo .imaged-link {
    width: 100px;
    height: 100px;
    display: inline-block;
}

.big-logo h1 {
    margin: 0 0 0 10px;
    font-style: italic;
    font-weight: 500;
}

.big-button {
    border: none;
    border-radius: var(--border-radius-l);
    font-size: var(--text-l);
    padding: 7px 10px;
    cursor: pointer;
}

.anchor-button {
    color: var(--text-color-inverse);
    background-color: var(--color-accent);
    border-radius: var(--border-radius-l);
    padding: 7px 10px;
    text-decoration: none;
    text-align: center;
    width: fit-content;
    height: fit-content;
    line-height: normal;
}

.text-right {
    text-align: right;
}

.ok {
    background-color: var(--color-ok);
    color: var(--text-color-inverse);
}

.error {
    background-color: var(--color-error);
    color: var(--text-color-inverse);
}

.accent {
    background-color: var(--color-accent);
    color: var(--text-color-inverse);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.imaged-link {
    display: inline-block;
    width: 40px;
    height: 40px;
}

.imaged-link img {
    width: 100%;
    height: 100%;
}