.rowed {
    flex-flow: row wrap;
}

.details-view p {
    margin: 0;
}

.details-view {
    width: 100%;
    max-width: 620px;
    margin: 0 10px 10px 0;
}

.account-details {
    display: grid;
    grid-template-rows: [names] min-content 1fr;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    column-gap: 5px;
    justify-items: center;
}

.account-details small {
    line-height: 0.5;
}

.separator {
    flex: 1;
    width: 100%;
    border-top: 1px var(--text-color-primary);
}

.transaction-list {
    flex: 1;
    text-align: center;
    width: 100%;
}

.transaction-list h4 {
    margin: 0 0 5px;
}

.transaction-list table {
    width: 100%;
    border-collapse: collapse;
}

.transaction-list-table-title td {
    line-height: 0.5;
    font-size: var(--text-s)
}

.transaction + .transaction {
    border-top: 1px solid lightgray;
}

.causal {
    position: relative;
}

.causal:hover .causal-message {
    display: block;
}

.causal-message {
    display: none;
    position: absolute;
    background: var(--view-color);
    border-radius: var(--border-radius-m);
    padding: 5px;
    width: max-content;
    word-break: break-word;
    box-shadow: 0 0 10px var(--shadow-color);
    right: 0;
    top: 100%;
    max-width: 400px;
    z-index: 1;
}
