.account-view h3 {
    margin: 0 0 20px;
}

.account-view {
    margin-top: 30px;
}

.account-list {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
}

.account {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    min-width: 250px;
    justify-content: space-between;
}

.account p {
    margin: 0;
}

.account + .account {
    border-top: 1px solid lightgray;
}

.new-account {
    margin-top: 20px;
    width: 100%;
}

.center {
    display: block;
    margin: auto;
}
