<!DOCTYPE html>
<html lang="en">
<body>
<div th:fragment="userMgmt-bigLogo" class="big-logo">
    <img alt="logo" src="/static/img/logo.svg"/>
    <h1>Price</h1>
</div>
<a th:fragment="homeLink" href="/index.html" class="imaged-link">
    <img src="/static/img/home.svg" alt="Back home"/>
</a>
<div th:fragment="app-header" class="header">
    <a class="imaged-link" href="/index.html">
        <img src="/static/img/logo.svg" alt="logo"/>
    </a>
    <div class="user-popup">
        <p th:text="${session.user.getUsername()}"></p>
        <div class="popup">
            <a href="/login.html" th:text="#{fragments.login}">Log into a new account</a>
            <a href="/logout" th:text="#{fragments.logout}">Logout</a>
        </div>
    </div>
</div>
</body>
</html>