<!DOCTYPE html>
<html lang="en">
<body>
<div th:fragment="userMgmt-bigLogo" class="big-logo">
    <img alt="logo" src="/static/img/logo.svg"/>
    <h1>Price</h1>
</div>
<a class="imaged-link" th:fragment="back"
   th:if="${session.history.hasLast()}"
   th:href="@{${session.history.last()}(ret)}">
    <img alt="back" src="/static/img/back.svg"/>
</a>
<div th:fragment="app-header" class="header">
    <div th:replace="fragments :: back"></div>
    <a class="imaged-link" href="/index.html">
        <img src="/static/img/logo.svg" alt="logo"/>
    </a>
    <div class="user-popup">
        <p th:text="${session.user.username}"></p>
        <div class="popup" th:object="${session.user}">
            <h5 th:text="#{fragments.userInfo}">User info</h5>
            <div class="user-info">
                <div class="user-info-cell">
                    <small th:text="#{fragments.name}">Name:</small>
                    <p th:text="*{#strings.concat(name, ' ', surname)}">Name and surname</p>
                </div>
                <div class="user-info-cell">
                    <small th:text="#{fragments.email}">Email:</small>
                    <p class="text-right" th:text="*{email}">Email</p>
                </div>
                <small><span th:text="#{fragments.userId}">User id</span>: <span th:text="*{base64Id}">id</span></small>
                <br>
            </div>
            <form action="/logout" method="post">
                <input type="submit" class="big-button error center" th:value="#{fragments.logout}"/>
            </form>
        </div>
    </div>
</div>
</body>
</html>