<!DOCTYPE html>
<html lang="en" th:lang="${#locale}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/static/img/favicon.ico" rel="icon"/>
    <link href="/static/common.css" rel="stylesheet" th:href="@{/static/common.css}" type="text/css">
    <link href="/static/userMgmt.css" rel="stylesheet" th:href="@{/static/userMgmt.css}" type="text/css">
    <title th:text="#{login.title}">Login</title>
</head>
<body>
<div class="page-container">
    <div th:replace="~{fragments :: back}"></div>
    <div th:replace="~{fragments :: userMgmt-bigLogo}"></div>
    <div class="page-view">
        <h3 th:text="#{login.heading}">Login</h3>
        <form action="/loginUser" class="form" method="post">
            <div class="form-input required">
                <label for="username" th:text="#{login.username}">Username:</label>
                <input id="username" name="username" required type="text"/>
            </div>
            <div class="form-input required">
                <label for="clearPassword" th:text="#{login.password}">Password:</label>
                <input id=clearPassword name="clearPassword" required type="password"/>
            </div>
            <input class="big-button" th:value="#{login.submit}" type="submit" value="login"/>
        </form>
        <small class="form-error" th:if="${param.e}" th:switch="${param.e[0]}">
            <span th:case="'conflict'" th:text="#{login.invalidCredentials}">Username and password are not valid</span>
            <span th:case="'user'"
                  th:text="#{login.userError}">Please check that the fields contain valid information</span>
            <span th:case="*"
                  th:text="#{login.error}">We weren't able to process your request, please try again later</span>
        </small>
    </div>
    <small>
        <span th:text="#{login.toRegister}">Don't have an account?</span>
        <a href="/register.html" th:text="#{login.toRegisterLink}">Register</a>
    </small>
</div>
</body>
</html>
