<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" th:lang="${#locale}">
<head>
    <meta charset="UTF-8">
    <link href="/static/img/favicon.ico" rel="icon"/>
    <link href="/static/common.css" rel="stylesheet" th:href="@{/static/common.css}" type="text/css">
    <title th:text="#{rejectTransfer.title}">Transfer rejected</title>
</head>
<body>
<div class="page-container">
    <div th:replace="fragments :: app-header"></div>
    <div class="page-view">
        <h3 th:text='#{rejectTransfer.title}'>Transfer rejected</h3>
        <p th:switch="${param.e[0]}">
            <span th:case="user" th:text="#{rejectTransfer.user}"></span>
            <span th:case="missing" th:text="#{rejectTransfer.missing}"></span>
            <span th:case="conflict" th:text="#{rejectTransfer.conflict}"></span>
            <span th:case="*" th:text="#{rejectTransfer.server}"></span>
        </p>
    </div>
</div>
</body>
</html>