.header {
    display: grid;
    grid-template: "a b s c" auto / 40px 40px 1fr;
    align-items: center;
    border-radius: var(--border-radius-xl);
    box-shadow: 0 0 10px var(--shadow-color);
    padding: 5px 10px;
    width: 100%;
    background-color: var(--view-color);
    margin-bottom: 30px;
}

.header img {
    width: 40px;
    height: 40px;
}

.user-popup {
    position: relative;
}

.header .user-popup {
    grid-area: c;
}

.user-popup h5 {
    margin-top: 0;
    margin-bottom: 0;
}

.user-popup p {
    margin: 0;
}

.user-popup .popup {
    display: none;
    position: absolute;
    border-radius: var(--border-radius-l);
    background-color: var(--view-color);
    padding: 10px;
    box-shadow: 0 0 5px var(--shadow-color);
}

.user-popup:hover .popup {
    display: block;
    right: 0;
    width: max-content;
}

.popup .big-button {
    margin-top: 10px;
}

.user-info {
    display: grid;
    grid-template: "a b"
                   "c c";
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

.user-info .user-info-cell p {
    line-height: 0.5;
}

.account-view {
    width: 100%;
}

.account-table {
    width: 90%;
}

.account-table table {
    width: 100%;
    text-align: center;
}

.new-account {
    margin-top: 20px;
    width: 100%;
}
