.rowed {
    flex-flow: row wrap;
}

.header {
    display: grid;
    grid-template: "a b s c" auto / 40px 40px 1fr;
    align-items: center;
    border-radius: var(--border-radius-xl);
    box-shadow: 0 0 10px var(--shadow-color);
    padding: 5px 10px;
    width: 100%;
    background-color: var(--view-color);
    margin-bottom: 30px;
}

.header img {
    width: 40px;
    height: 40px;
}

.user-popup {
    z-index: 1;
}

.header .user-popup {
    grid-area: c;
}

.user-popup h5 {
    margin-top: 0;
    margin-bottom: 0;
}

.user-popup p {
    margin: 0;
}

.user-popup .popup {
    display: none;
    position: absolute;
    border-radius: var(--border-radius-l);
    background-color: var(--view-color);
    padding: 10px;
    box-shadow: 0 0 5px var(--shadow-color);
}

.user-popup:hover .popup {
    display: block;
    right: 0;
    width: max-content;
}

.popup .big-button {
    margin-top: 10px;
}

.user-info {
    display: grid;
    grid-template: "a b"
                   "c c";
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

.user-info .user-info-cell p {
    line-height: 0.5;
}

.relatively-positioned {
    position: relative;
}

.account-table {
    width: 90%;
}

.account-table table {
    width: 100%;
    text-align: center;
}

.new-account {
    margin-top: 20px;
    width: 100%;
}

.corner-button {
    position: absolute;
    font-size: var(--text-s);
    background: transparent;
    border: none;
    cursor: pointer;
}

.corner-button img {
    width: 16px;
    height: 16px;
}

.top-left {
    right: 15px;
    top: 15px;
}

.top-right {
    top: 15px;
    left: 15px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

    background: rgba(192, 192, 192, 0.8);
}

.modal-box {
    width: 400px;
}

.modal-text {
    text-align: center;
}

.modal-content + .modal-action-list:not(:empty) {
    margin-top: 15px;
}

.modal-action-list {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.modal-action-list > * {
    flex: 1;
    margin-right: 5px;
}

.details-view p {
    margin: 0;
}

.details-view {
    width: 100%;
    max-width: 620px;
    margin: 0 10px 10px 0;
}

.account-details {
    display: grid;
    grid-template-rows: [names] min-content 1fr;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    column-gap: 5px;
    justify-items: center;
}

.account-details small {
    line-height: 0.5;
}

.separator {
    flex: 1;
    width: 100%;
    border-top: 1px var(--text-color-primary);
}

.transaction-list {
    flex: 1;
    text-align: center;
    width: 100%;
}

.transaction-list h4 {
    margin: 0 0 5px;
}

.transaction-list table {
    width: 100%;
    border-collapse: collapse;
}

.transaction-list-table-title td {
    line-height: 0.5;
    font-size: var(--text-s)
}

.transaction + .transaction {
    border-top: 1px solid lightgray;
}

.causal {
    position: relative;
}

.causal:hover .causal-message {
    display: block;
}

.causal-message {
    display: none;
    position: absolute;
    background: var(--view-color);
    border-radius: var(--border-radius-m);
    padding: 5px;
    width: max-content;
    word-break: break-word;
    box-shadow: 0 0 10px var(--shadow-color);
    right: 0;
    top: 100%;
    max-width: 400px;
    z-index: 1;
}
